
body {
    background-color: rgba(47, 80, 228, 0.952);
    
        /* Градієнт на фон */
        background: linear-gradient(45deg, #ffffff, #3a3cd3);
        /* Центрування та інші стилі */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        color: #fff;
    }
    .photo{
        margin-left:0;
        margin-bottom: 700px;
}
.button{
    margin-right: 500px;
}